:root {
    background-color: aqua
}

li {
    padding-bottom: 5px;
    color: black;
    text-shadow: black 2px 1px 3px;
    list-style-type: none;
}

p {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    margin-top: -.5rem;
}

input {
    text-align: center;
}

.container {
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

button {
    display: inline;
    font-family: sans-serif;
    background-color: black;
    border-radius: 20px;
    border: 3px double #cccccc;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    margin-top: 50px;
}

button:hover {
    box-shadow: 4px 3px 6px white;
}

#homePageHighscore {
    height: 7rem;
    border: groove 2px;
}

#startquiz {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-family: sans-serif;
    background-color: black;
    color: white;
    font-size: x-large;
    text-shadow: .5px .5px black;
    text-align: center;
}

#quiz {
    display: none;
}

#result {
    display: none;
}

#gameOver {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

#highScoreContainer {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#highScorePage {
    display: none;
    width: 50%;
    border: solid;
    border-color: black;
    border-bottom-style: solid;
    padding-bottom: .3rem;
    background-color: blue;
}

#highScoreHeader {
    display: flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: black;
    color: aqua;
    font-family: sans-serif;
}

#name {
    margin: .5rem;
    height: 1.75rem;
}

#highScoreName {
    display: inline-block;
    padding-left: 9.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

#highScore-Score {
    float: right;
    padding-right: 8.75rem;
    font-family: sans-serif;
    font-weight: bold;
}

#finalScore {
    padding-bottom: .5rem;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

#endButtons {
    display: none;
}